"*":
  "atom-beautify":
    general:
      _analyticsUserId: "25443d91-2630-4f24-bb00-5dada8ec3686"
  "autocomplete-modules":
    babelPluginModuleResolver: true
    webpack: true
  "autocomplete-python":
    extraPaths: "$PROJECT"
    useSnippets: "required"
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "autocomplete-please"
      "language-please"
      "please-hyperclick"
      "atom-reason-loader"
      "linter-shellcheck"
      "editorconfig"
      "file-icons"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
    ]
    projectHome: "/Users/imransulemanji/src"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "Operator Mono"
    fontSize: 15
    invisibles: {}
    lineHeight: 1.6
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "8433cc63-08e8-7beb-836d-68ed07fe0002"
  "flow-ide":
    executablePath: "/usr/local/bin/flow"
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  "js-hyperclick": {}
  "language-babel":
    createTargetDirectories: false
    disableWhenNoBabelrcFileInPath: false
  "language-please": {}
  linter:
    errorPanelHeight: 112
    statusIconScope: "File"
  "linter-eslint":
    fixOnSave: true
  "linter-flow": {}
  "linter-javac": {}
  "linter-pylint":
    rcFile: "%p/config/pylint.rcfile"
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
  "linter-ui-default":
    showPanel: true
  "lisp-paredit": {}
  nuclide:
    "nuclide-file-tree":
      hideIgnoredNames: false
    "nuclide-flow": {}
    "nuclide-home":
      showHome: false
    "nuclide-working-sets": {}
  pigments:
    extendAutocompleteToVariables: true
    groupPaletteColors: "by file"
    mergeColorDuplicates: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    formatOnSaveSilentError: true
    prettierOptions:
      parser: "flow"
      printWidth: 100
      singleQuote: true
    printWidth: 100
    silenceErrors: true
  "relative-numbers":
    showAbsoluteNumbers: true
    trueNumberCurrentLine: false
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view":
    autoReveal: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".attribute-values.js.jsx.source":
  editor:
    normalizeIndentOnPaste: "false"
    preferredLineLength: 120
    softWrapHangingIndent: 2
".babel.regexp.source":
  editor:
    normalizeIndentOnPaste: "true"
".block.source":
  editor:
    normalizeIndentOnPaste: "false"
".conf.source":
  editor:
    normalizeIndentOnPaste: "false"
".item.source":
  editor:
    normalizeIndentOnPaste: "false"
".js.jsx.react.source":
  editor:
    normalizeIndentOnPaste: "false"
    preferredLineLength: 120
    softWrapHangingIndent: 2
".js.jsx.source":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 120
    softWrapHangingIndent: 2
".js.source.subtlegradient":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 120
    softWrapHangingIndent: 2
".list.source":
  editor:
    normalizeIndentOnPaste: "false"
".please-build.source":
  editor:
    tabLength: 4
".preset.source":
  editor:
    normalizeIndentOnPaste: "false"
".region.source":
  editor:
    normalizeIndentOnPaste: "false"
core:
  themes: [
    "spacegray-dark-ui"
    "base16-tomorrow-dark-theme"
  ]
"exception-reporting":
  userId: "62c1346c-ec75-19f2-34a0-57dc5d089087"
goto:
  moreIgnoresNames: ".unison*, .vagrant, /log, target/, *.iml, *.ipr, *.iws, *.log, *.pyc,, .DS_Store,, */bin, cordova_out, plz-out, .plz-cache, .plzconfig.local,, .idea/, .tmp*/, dist/, .sass-cache/, #*, .#*, third_party/**/package.json, *.sublime-*, .boto, ml/models, !ml/models/B*, */frontend/**/static/local-test-json/**, abacus/frontend/static/*.html"
"linter-lsc":
  lscExecutablePath: "/usr/local/bin/lsc"
metrics:
  userId: "81e81fd73c99ed96c0fa1463e9306db5044749bb"
welcome:
  showOnStartup: false
