"*":
  "atom-beautify":
    general:
      _analyticsUserId: "25443d91-2630-4f24-bb00-5dada8ec3686"
  "autocomplete-python":
    extraPaths: "$PROJECT"
    useSnippets: "required"
  autosave:
    enabled: true
  core:
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
  editor:
    fontFamily: "Operator Mono"
    invisibles: {}
    lineHeight: 1.6
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "8433cc63-08e8-7beb-836d-68ed07fe0002"
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  "js-hyperclick": {}
  "language-babel":
    createTargetDirectories: false
  linter:
    errorPanelHeight: 112
  "linter-eslint":
    fixOnSave: true
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "linter-flow": {}
  "linter-javac": {}
  "linter-pylint":
    rcFile: "%p/config/pylint.rcfile"
  "linter-scss-lint": {}
  "lisp-paredit": {}
  pigments:
    extendAutocompleteToVariables: true
    groupPaletteColors: "by file"
    mergeColorDuplicates: true
  "relative-numbers":
    showAbsoluteNumbers: true
    trueNumberCurrentLine: false
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view":
    autoReveal: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".attribute-values.js.jsx.source":
  editor:
    normalizeIndentOnPaste: "false"
    preferredLineLength: 120
    softWrapHangingIndent: 2
".babel.regexp.source":
  editor:
    normalizeIndentOnPaste: "true"
".block.source":
  editor:
    normalizeIndentOnPaste: "false"
".conf.source":
  editor:
    normalizeIndentOnPaste: "false"
".item.source":
  editor:
    normalizeIndentOnPaste: "false"
".js.jsx.react.source":
  editor:
    normalizeIndentOnPaste: "false"
    preferredLineLength: 120
    softWrapHangingIndent: 2
".js.jsx.source":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 120
    softWrapHangingIndent: 2
".js.source.subtlegradient":
  editor:
    normalizeIndentOnPaste: "true"
    preferredLineLength: 120
    softWrapHangingIndent: 2
".list.source":
  editor:
    normalizeIndentOnPaste: "false"
".preset.source":
  editor:
    normalizeIndentOnPaste: "false"
".region.source":
  editor:
    normalizeIndentOnPaste: "false"
core:
  themes: [
    "spacegray-dark-ui"
    "base16-tomorrow-dark-theme"
  ]
"exception-reporting":
  userId: "62c1346c-ec75-19f2-34a0-57dc5d089087"
goto:
  moreIgnoresNames: ".unison*, .vagrant, /log, target/, *.iml, *.ipr, *.iws, *.log, *.pyc,, .DS_Store,, */bin, cordova_out, plz-out, .plz-cache, .plzconfig.local,, .idea/, .tmp*/, dist/, .sass-cache/, #*, .#*, third_party/**/package.json, *.sublime-*, .boto, ml/models, !ml/models/B*, */frontend/**/static/local-test-json/**, abacus/frontend/static/*.html"
"linter-lsc":
  lscExecutablePath: "/usr/local/bin/lsc"
metrics:
  userId: "81e81fd73c99ed96c0fa1463e9306db5044749bb"
welcome:
  showOnStartup: false
