'.source.js':
  'react scaffold':
    'prefix': 'reactscaffold'
    'body': """
      import React, {PropTypes, Component} from 'react';

      export class $1 extends Component {

        static displayName = '$1';

        render() {
          return (
          <div />
          );
        }

      }
    """
  'import':
    'prefix': 'import'
    'body': 'import $1 from \'$2\';'
  'arrow function':
    'prefix': '=>'
    'body': """
      ($1) => {

      }
    """
  'import react':
    'prefix': 'importReact'
    'body': 'import React, {PropTypes, Component} from \'react\';'
  'jsx':
    'prefix': 'jsx'
    'body': """
      <$1>
        $2
      </$1>
    """
'.source.build':
  'build file scaffold':
    'prefix': 'subinclude'
    'body': """
      subinclude('//buildSrc:javascript')
      subinclude('//buildSrc:css')
    """
  'css library':
    'prefix': 'css_library'
    'body': """
      css_library(
        name = '$1',
        src = '$2',
        deps = [
          $3
        ],
        visibility = ['//'$4']
      )
    """
  'js library':
    'prefix': 'js_library'
    'body': """
      js_library(
        name = '$1',
        srcs = ['$2'],
        deps = [
          $3
        ],
        visibility = ['//$4']
      )
    """
